<!--09-13 병윤-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원 관리</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Orbit&display=swap" rel="stylesheet">
    <link href="/css/admin.css" rel="stylesheet">
    <script th:src="@{/js/admin.js}"></script>
</head>
<body>
<header>
        <a class="navbar-brand" href="/">오늘 뭐 먹지?</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav">
                <li sec:authorize="isAnonymous()" class="nav-item">
                    <a class="nav-link active" th:href="@{/login}">
                        <i class="fas fa-sign-in-alt"></i> 로그인
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link active" th:href="@{/logout}">
                        <i class="fas fa-sign-out-alt"></i> 로그아웃
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link active" th:href="@{/inquire}">
                        <i class="fas fa-envelope"></i> 문의하기
                    </a>
                </li>
            </ul>
        </div>
</header>
<h1>회원 관리</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>이름</th>
        <th>이메일</th>
        <th>닉네임</th>
        <th>전화번호</th>
        <th>우편번호</th>
        <th>주소</th>
        <th>상세주소</th>
        <th>성별</th>
        <th>생년월일</th>
        <th>회원탈퇴</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${memberList}">
        <td th:text="${member.user_id}">ID</td>
        <td th:text="${member.user_name}">이름</td>
        <td th:text="${member.user_email}">이메일</td>
        <td th:text="${member.user_nickname}">닉네임</td>
        <td th:text="${member.user_tel}">전화번호</td>
        <td th:text="${member.user_addr_zip}">우편번호</td>
        <td th:text="${member.user_addr}">주소</td>
        <td th:text="${member.user_addr_detail}">상세주소</td>
        <td th:text="${member.user_gender}">성별</td>
        <td th:text="${member.user_birth}">생년월일</td>
        <td>
            <button th:data-user_nickname="${member.user_nickname}" th:data-user_id="${member.user_id}" onclick="deleteUser(this)">회원탈퇴</button>
        </td>
    </tr>
    </tbody>
</table>
<footer>
    <div class="container"><p class="m-0 text-center text-white">&copy; Your Website 2023</p></div>
</footer>
</body>
</html>
