<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <header>
        <div>
            <a href="/login" class="login">로그인</a>
            <a href="/join" class="join">회원가입</a>
        </div>
    </header>
    <body>
        <div>
            <a href="/shop" class="shop">쇼핑하기</a>
            <a href="/recipe_list" class="recipe_list">레시피 보기</a>
            <a href="#" class="recommend">식재료 추천받기</a>
        </div>
    </body>
</html>