<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/index.css}" rel="stylesheet" />
<title>Title</title>
<style>
.recipe_tbl {
	text-align: center;
}
.recipe_tbl th{
	background-color: lightblue;
}
.recipe_tbl tr {
	border-radius: 2px;
}
.recipe_tbl tr:hover{
	box-shadow: 2px,2px,2px,2px;
}
.recipe_section{
	text-align: center;
	display: flex;
	flex-direction : column;
	justify-content: center;
}
</style>
<script src="/recipe.js"></script>
</head>
<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<!-- 브랜드명이나 로고 -->
			<a class="navbar-brand" href="#">Your Brand</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- 중앙에 위치한 항목 (예: 네비게이션 링크) -->
				<ul class="navbar-nav me-auto">
					<!-- 여기에 다른 네비게이션 항목이 있을 수 있습니다 -->
				</ul>
				<!-- 오른쪽에 위치한 로그인/회원가입 버튼 -->
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/login}">로그인</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/join}">회원가입</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<!-- 레시피 리스트 -->
	
	<div class="recipe_section">
		<h1>레시피</h1>
		<table class="recipe_tbl">
			<tr>
				<th>번호</th>
				<th>음식이름</th>
				<th>짧은 설명</th>
				<th>작성자</th>
				<th>조회수</th>
				<th>추천수</th>
			</tr>
			<tr th:each="recipe,info : ${recipe_list}">
				<td th:text="${info.count}"></td>
				<!-- 번호 -->
				<td th:text="${recipe.recipe_food_name}"></td>
				<td th:text="${recipe.recipe_title}"></td>
				<td th:text="${recipe.user_id}"></td>
				<td th:text="'조회수 '+${recipe.recipe_view}"></td>
				<td th:text="'추천수'+${recipe.recipe_recommend_cnt}"></td>
			</tr>
		</table>
		<!-- 레시피 리스트 끝 -->
	</div>

	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">&copy; Your Website 2023</p>
		</div>
	</footer>
	<script>
		
	</script>
</body>
</html>