<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<!-- Core theme CSS (includes Bootstrap)-->
<link th:href="@{/css/index.css}" rel="stylesheet" />
<title>레시피</title>
<style>
</style>

</head>
<body>
	<!-- Responsive navbar-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container">
			<!-- 브랜드명이나 로고 -->
			<a class="navbar-brand" href="#">Your Brand</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- 중앙에 위치한 항목 (예: 네비게이션 링크) -->
				<ul class="navbar-nav me-auto">
					<!-- 여기에 다른 네비게이션 항목이 있을 수 있습니다 -->
				</ul>
				<!-- 오른쪽에 위치한 로그인/회원가입 버튼 -->
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link active"
						aria-current="page" th:href="@{/login}">로그인</a></li>
					<li class="nav-item"><a class="nav-link" th:href="@{/join}">회원가입</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- 레시피 -->
	<div>
		<!-- 레시피 타이틀 -->
		<h2 th:text="${recipe.recipe_title}"></h2>
		<span th:text="${recipe.recipe_describe}"></span>
		<!-- 레시피 순서 -->
		<div>
			<div th:each="s : ${recipe_sequence}">
				<span th:text="${s.sequence_text}"></span>
			</div>
		</div>
	</div>
	<!-- 댓글 --> <!-- 최근수정 -->
	<div>
	</div>

	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">&copy; Your Website 2023</p>
		</div>
	</footer>
</body>
</html>