<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>레시피</title>
    <style>


.flex_container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.flex_item {
	margin: 50px;
}
table td{
	background-color: lightgray;
}



    </style>


</head>
<body>

<!-- Responsive navbar-->
<nav class="navbar">
    <div class="container">
        <!-- 브랜드명이나 로고 -->
        <a class="navbar-brand" href="/">Your Brand</a>
        <div class="navbar-collapse">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- 중앙에 위치한 항목 (예: 네비게이션 링크) -->
                <ul class="navbar-nav me-auto">
                    <!-- 여기에 다른 네비게이션 항목이 있을 수 있습니다 -->
                </ul>
                <!-- 오른쪽에 위치한 로그인/회원가입 버튼 -->
                <ul class="navbar-nav">
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link active" th:href="@{/profile}">
                            <i class="fas fa-user"></i>마이페이지
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link active" th:href="@{/login}">
                            <i class="fas fa-sign-in-alt"></i> 로그인
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link active" th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt"></i> 로그아웃
                        </a>
                    </li>
                    <li sec:authorize="isAnonymous()" class="nav-item">
                        <a class="nav-link" th:href="@{/join}">
                            <i class="fas fa-user-plus"></i> 회원가입
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link active" th:href="@{/cart}">
                            <i class="fas fa-shopping-cart"></i> 장바구니
                        </a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link active" th:href="@{/inquire}">
                            <i class="fas fa-envelope"></i> 문의하기
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- 레시피 -->
<div class="flex_container">
    <!-- 레시피 타이틀 -->
    <div class="flex_item">
        <table>
            <input type="hidden" id="recipe_id" th:value="${recipe.recipe_id}">
            <tr>
                <th>레시피 제목</th>
                <td><input id="recipe_title" name="recipe_title" type="text" th:value="${recipe.recipe_title}"></td>
            </tr>
            <tr>
                <th>요리 이름</th>
                <td><input id="recipe_food_name" name="recipe_food_name" type="text"
                           th:value="${recipe.recipe_food_name}" placeholder="요리 이름"></td>
            </tr>
            <tr>
                <th>레시피 설명</th>
                <td><textarea id="recipe_describe" name="recipe_describe" th:text="${recipe.recipe_describe}" rows="5"
                              cols="120"></textarea></td>
            </tr>
            <tr>
                <th>Serving</th>
                <td>
                    <input id="recipe_serving" style="width: 40px; text-align: center;" type="text"
                           th:value="${recipe.recipe_serving}"></td>

            </tr>
            <tr>
                <th>난이도</th>
                <td><select id="recipe_level">
                    <option class="recipe_level_list" value="">난이도</option>
                    <option class="recipe_level_list" value="초급">초급</option>
                    <option class="recipe_level_list" value="중급">중급</option>
                    <option class="recipe_level_list" value="고급">고급</option>
                    <option class="recipe_level_list" value="아무나">아무나</option>
                </select>
            </tr>
            <tr>
                <th>요리 시간</th>
                <td><input class="time" id=recipe_time style="width: 70px; text-align: center;" type="text" th:value="${recipe.recipe_time}">
                </td>

            </tr>

            <tr>
                <th>요리 방법</th>
                <td><select id="recipe_method" th:value="튀김">
                    <!-- 요리 방법 -->
                    <option class="recipe_method_list" value="">요리방법</option>
                    <option class="recipe_method_list" th:each="method : ${method_list}" th:value="${method}"
                            th:text="${method}"></option>
                </select></td>
            </tr>
            <tr>
                <th>요리 상황</th>
                <td><select id="recipe_status">
                    <option class="recipe_status_list">요리 상황</option>
                    <option class="recipe_status_list" th:each="status : ${status_list}" th:value="${status}"
                            th:text="${status}"></option>
                </select></td>

            </tr>

            <tr>
                <th>요리 메인 재료</th>
                <td><select id="recipe_ingredient">
                    <option class="recipe_ingredient_list">메인 재료</option>
                    <option class="recipe_ingredient_list" th:each="ingre : ${ingre_list}" th:value="${ingre}"
                            th:text="${ingre}"></option>
                </select></td>
            </tr>

            <tr>
                <th>재료</th>
                <td>
                    <table id="ingre_tbl">
                        </tr>
                        <td><input type="button" onclick="insertIngreTr()" value="재료 추가"></td>
                        <tr>
                            <td><input type="text" value="[재료]" readonly="readonly"></td>
                        </tr>
                        <tr th:each="ingre : ${recipe_ingre_list}">
                            <td hidden><input class="org_ingre_id" type="text" th:value="${ingre.ingre_id}"></td>
                            <td><input class="ingre_name" type="text" th:value="${ingre.ingre_name}"></td>
                            <td><input class="ingre_info " type="text" th:value="${ingre.ingre_info}"></td>
                            <td><input type="button" onclick="deleteIngreTr(this)" value="X"></td>
                        </tr>
                    </table>
                </td>
                <div class="flex_item ingre_tbl_div">
                    <table class="ingre_tbl" th:each="ingre_type : ${ingre_type_list}">
                        <tr>
                            <th th:text="${ingre_type}"></th>
                        </tr>
                        <tr th:each="ingre : ${ingre_list}" th:if="${ingre.ingre_type == ingre_type}">
                            <td th:value="${ingre.name}"></td>
                            <td th:value="${ingre.info}"></td>
                        </tr>
                    </table>
                </div>
            </tr>

            <tr>
                <th>레시피 순서</th>
                <td>
                    <table id="step_tbl">
                        <tr>
                            <td><input type="button" onclick="insertSequenceTr()" value="순서 추가"></td>
                        </tr>
                        <!-- 레시피 순서 리스트 출력 -->
                        <tr th:each="s : ${cook_sequence_list}">
                            <td><input class="org_step_no" type="text" th:value="${s.sequence_step_no}"></td>
                            <td><textarea class="sequence_text" cols="140" rows="5" th:text="${s.sequence_text}"></textarea></td>
                            <td><input class="sequence_img" type="file"></td>
                            <td><input type="button" onclick="deleteIngreTr(this)" value="X"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <input type="button" onclick="updateRecipeIngre()" value="수정완료"> <!--insertRecipeForm(); -->
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p class="footer-text">&copy; Your Website 2023</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:src="@{/js/recipe.js}"></script>
<script>
    window.onload = ()=>{
        const recipe_level = `[[${recipe.recipe_level}]]`
        // 요리 난이도
        const recipe_level_list = document.querySelectorAll(".recipe_level_list");
        for(level of recipe_level_list){
          console.log(level)
          if(level.value == recipe_level){
            level.setAttribute("selected","");
          }
        }

        // 요리 방법
        const recipe_method = `[[${recipe.recipe_method}]]`
        const recipe_method_list = document.querySelectorAll(".recipe_method_list");
        for(level of recipe_method_list){
          console.log(level)
          if(level.value == recipe_method){
            level.setAttribute("selected","");
          }
        }
        // 요리 상황
        const recipe_status = `[[${recipe.recipe_status}]]`
        const recipe_status_list = document.querySelectorAll(".recipe_status_list");
        for(level of recipe_status_list){
          console.log(level)
          if(level.value == recipe_status){
            level.setAttribute("selected","");
          }
        }
        // 요리 재료
        const recipe_ingredient = `[[${recipe.recipe_ingredient}]]`
        const recipe_ingredient_list = document.querySelectorAll(".recipe_ingredient_list");
        for(level of recipe_ingredient_list){
          console.log(level)
          if(level.value == recipe_ingredient){
            level.setAttribute("selected","");
          }
        }
    }


</script>
</body>
</html>