<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script th:src="@{/js/socialjoin.js}"></script>
</head>
<h1>추가 정보 입력</h1>
<form name="joinForm" id="joinForm" action="/socialjoin" th:object="${memberDto}" method="post" >
    <table>
        <tr>
            <input type="hidden" id="check_user" th:value="${user}">
            <input type="hidden" id="user_id" name="user_id" th:value="${user_id}">
            <input type="hidden" name="user_name" th:value="${user_name}">
            <input type="hidden" name="user_email" th:value="${user_email}">
            <td>
                <label for="user_nickname">닉네임</label>
            </td>
            <td>
                <input type="text" name="user_nickname" id="user_nickname">
                <input type="button" id="check_nickname_btn" onclick="checkNickname()" value="중복확인">
            </td>
        <tr>
            <td colspan=2 id="nickname-area"></td>
        </tr>
        </tr>
        <tr>
            <td>
                <label for="user_addr">주소</label>
            </td>
            <td>
                <!-- 우편번호 -->
                <input type="hidden" name="user_addr_zip" id="user_addr_zip" readonly>
                <!-- 전체 주소 -->
                <input type="hidden" name="user_addr" id="user_addr" readonly>
                <!-- 상세 주소 -->
                <input type="hidden" name="user_addr_detail" id="user_addr_detail">
                <input type="text" id="sample6_postcode" placeholder="우편번호" readonly>
                <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" id="sample6_address" placeholder="주소" readonly><br>
                <input type="text" id="sample6_detailAddress" placeholder="상세주소">
                <input type="text" id="sample6_extraAddress" placeholder="참고항목" readonly>
            </td>
        </tr>
        <tr>
            <td>
                <label for="user_tel">전화번호</label>
            </td>
            <td>
                <select id="tel_list" onchange="handle_tel_change()">
                    <option value="">국번 선택</option>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="012">012</option>
                    <option value="013">013</option>
                    <option value="014">014</option>
                    <option value="015">015</option>
                    <option value="016">016</option>
                    <option value="017">017</option>
                    <option value="018">018</option>
                    <option value="019">019</option>
                </select>
                <!-- 중간번호 -->
                <input type="text" name="tel_mid" id="tel_mid" maxlength="4" placeholder="중간번호" oninput="handle_tel_change()">
                -
                <!-- 뒷번호 -->
                <input type="text" name="tel_end" id="tel_end" maxlength="4" placeholder="뒷번호" oninput="handle_tel_change()">
                <!-- 결합된 전화번호를 저장할 필드 (hidden) -->
                <input type="hidden" name="user_tel" id="user_tel">
            </td>
        </tr>
        </tr>
        <td>
            <label for="user_gender">성별</label>
        </td>
        <td>
            <input type="radio" name="user_gender" id="user_gender_M" value="M">남자
            <input type="radio" name="user_gender" id="user_gender_F" value="F">여자
        </td>
        </tr>
        <tr>
            <td>
                <label for="user_birth">생년월일</label>
            </td>
            <td>
                <input type="date" name="user_birth" id="user_birth">
            </td>
        </tr>
    </table>
    <button type="button" id="submitBtn" onclick="socialsubmitForm()">회원가입</button>
    <input type="button" value="로그인" onclick="location.href='/login'">
    <input type="button" value="다시 입력" onclick="resetButton()">
    <input type="button" value="홈으로" onclick="location.href='/'">
</form>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    window.onload = ()=>{
         if(document.querySelector("#check_user").value=='true'){


            const user_id = document.querySelector("#user_id").value
            $.ajax({
                    type : "post",
                    url : "http://localhost:8080/login",
                    data: {'username':user_id,'password':user_id},
                    success : data=>{
                        window.location.replace("http://localhost:8080/")
                        }
            })
         }
    }

</script>
</html>
